{% extends "user_base.html" %} {% block content %}
<div class="row justify-content-center h-100 align-items-center">
<div class="forgot-password col-md-6">
  <div class="forgotpassword-title">
    <h3>Reset Your Password</h3>
  </div>
  <div class="forgotpassword-panel">
    <div class="email-label">
      <label><strong>Enter your user account's verified email address and we will send you a password reset link.</strong></label>
    </div>
    <div class="email-form">
      <input id="email" class="form-control" placeholder="John@gmail.com"/>
    </div>
    <div class="margin-right:30px; margin-left:30px;">
      <button type="submit" class="email-send-button btn btn-block btn-primary col-12">Send Password Reset Email</button>
    </div>
  </div>
</div>
</div>
{% endblock %} {% block jsContent%}

<script src="{{ url_for('user.static', filename='assets/js/login.js') }}"></script>

{% endblock %}
